*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Ebrima;
  color: #ffffff;
}

canvas { 
  border: 1px solid #ccc;
}

input {
  margin: 0.4rem;
}

fieldset{
  padding: 10px;
  border-color: transparent;
}

.nav{
/*width: 650px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;*/
  
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(41, 41, 41, 0.2); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.menuButton{
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.1s;
}

.pen_size{
  height: 16;
}

.icon{
  height: 32;
width: 32;
}

.clr{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.clr::hover{
  transition-delay: 0.1s;
  opacity: 1;
  transform: scale(1.2);
}

button{
  border: none;
  outline: none;
    
  border-radius: 3px;
  background-color: #ffffff;
  border: 3px solid rgb(0, 0, 0);
  color: #fff;

  padding: 8px 8px 8px 32px;
  display: table-cell;
  transition: 0.3s;
}

.sidenav button:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}


button:hover{
    transition-delay: 0.1s;
    opacity: 1;
    transform: scale(1.2);
}
.save{
  background-color: #ffffff;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }